<section class="container">

    <article class="row justify-content-center">
        <div id="signup-form">
            <form action="/login" method="post">
                <h1>¡Bienvenidos!</h1>
                <p>Para comenzar, por favor entra con tu cuenta Supa</p>
                <hr>
                <div class="form-group">
                    <label for="username"></label>
                    <input name="username" type="text" class="form-control" id="username"
                        placeholder="Nombre de ususario">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
                </div>
                <div>¿No tienes cuenta? <a href="/signup">Crea una cuenta</a></div>
            </form>

        </div>
    </article>
</section>