<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>¡Regístrate!</h1>

        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input name="username" type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input name="password" type="password" class="form-control" id="password">
                <small class="form-text text-muted">Nunca compartas tu contraseña</small>
            </div>

            <button type="submit" class="btn btn-lg">Registrarme</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
        <br>
        <p>¿Tienes cuenta?   <a href="/login">Inicia sesión</a></p>
    </div>
</div>