<section class="container">

    <article class="row justify-content-center">
        <div id="signup-form">
            <form action="/signup" method="post">
                <h1>¡Regístrate!</h1>
                <p>¡Rellene los campos para crear una cuenta!</p>
                <hr>
                <div class="form-group">
                    <label for="username"></label>
                    <input name="username" type="text" class="form-control" id="username"
                        placeholder="Nombre de ususario">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" required="required"> Acepto los <a
                            href="#">Condiciones de uso
                        </a> &amp; <a href="#">Privacidad</a></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                </div>
                <div>¿Ya tienes cuenta? <a href="/login">Inicie sesión</a></div>
            </form>

        </div>
    </article>
</section>