<div class="row" id="product-detail">
    <div class="col-md-6">
        <img id="imgProduct" src="{{img}}" alt="image">

    </div>
    <div class="col-md-6">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{price}} &euro;</p>

    </div>
</div>