<section>
    <h2>Subida de imagen mediante Cloudinary</h2>
    <form action="/files/upload-cdn" method="post" enctype="multipart/form-data">
        <input type="text" name="imageName" placeholder="Nombre de imagen"><br><br>
        <input type="file" name="imageFile"><br><br>
        <input type="submit" value="Subir">
    </form>
</section>