<div class="container">
    <section id="main-page">

        <article>

            <h1>{{title}}</h1>

            <p>¡Bienvenidos al mejor Supermercado de frutas y verduras!</p>
            <br>
            <a class="btn btn-lg" href="/products/list">Ver productos</a>
        </article>
        <img src="./images/main/basket.png" alt="main-image">


    </section>
    <footer>
        <!--Facebook-->
        <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>

        <!--Instagram-->
        <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>

        <!--Github-->
        <a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>

        <!--copy-->

        <!--maps-->


    </footer>
</div>