<div class="container">
    <section id="main-page" class="row">

        <article>

            <h1>{{title}}</h1>

            <p>¡Bienvenidos al mejor Supermercado de frutas y verduras!</p>
            <br>
            <a class="btn btn-lg" href="/products/list">Ver productos</a>
        </article>
        <img src="./images/main/basket.png" alt="main-image">


    </section>
    <section class="row">
        <div class="glide gallery">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">

                    {{#each allThePictures}}

                    <li class="glide__slide">
                        <img src="{{path}}" alt="{{name}}" style="width: 100%">
                    </li>

                    {{/each}}

                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </div>
    </section>
        <footer>
            <!--Facebook-->
            <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>

            <!--Instagram-->
            <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>

            <!--Github-->
            <a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>

            <!--copy-->

            <!--maps-->

            <figure id="myMap"></figure>
            <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
            <script src="/javascripts/slider-init.js"></script>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

            <script src="/javascripts/mapStyles.js"> </script>
            <script src="/javascripts/main.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{hola}}"></script>
        </footer>

</div>