<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <!-- GLIDE CAROUSEL CSS -->
  <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.4.1/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{#if isBoss}}
  <a id="admin-btn" href="/admin/admin" role="ADMIN">
    <image
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
      alt="Acceso Administrador"> Admin
  </a>
  {{/if}}
  <div class="menu">
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm fixed-top">

      <a class="logo navbar-brand" href="/"><img id="logo" src="/images/supa.png"></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto color-ul">


          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          {{#if isAuthenticated}}
          <li class="nav-item">
            <a class="nav-link" href="/client/profile">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Registro / Inciar sesión</a>
          </li>
          {{/if}}

          {{#if isAuthenticated}}
          <span class="logged">
            <img src="https://image.flaticon.com/icons/svg/74/74235.svg"><a href="/client/profile"
              style="color: blue">{{currentUser.username}}</a>
          </span>
          {{/if}}
        </ul>
      </div>
    </nav>

  </div>

  <main>

    {{{body}}}
  </main>

  <script src="/javascripts/script.js"></script>
</body>

</html>