<section class="container">
    <div id="admin-page">
        <div>
            <h1>Página del Administrador</h1>
            <ul class="row">
                <li> <a href="/admin/profileList">
                        <img src="../../images/admin/user_list.png" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg">Lista de usuarios</p>
                    </a>
                <li>
                    <a href="/admin/newUser">
                        <img src="../../images/admin/new_user.svg" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg"> Crea nuevo usuario</p>
                    </a>
                <li><a href="/admin/productList">
                        <img src="../../images/admin/product_list.svg" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg"> Ver Productos</p>
                    </a>
                <li><a href="/admin/newProduct">
                        <img src="../../images/admin/new_product.svg" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg"> Crear producto</p>
                    </a>
                <li><a href="/gallery">
                        <img src="../../images/admin/gallery.svg" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg"> Ver galería</p>
                    </a>
                <li><a href="/files/upload-cdn">
                        <img src="../../images/admin/upload_file.svg" alt="Lista_usuarios" class="center">
                        <br>
                        <p class="btn btn-lg"> Subir contenido</p>
                    </a>
            </ul>

        </div>


    </div>

</section>