<a class="btn btn-lg" href="/admin/profileList">Lista de usuarios</a>
<a class="btn btn-lg" href="/admin/newUser">Crea nuevo usuario</a>
<a class="btn btn-lg" href="/admin/productList">Ver Productos</a>
<a class="btn btn-lg" href="/admin/newProduct">Crear productos</a>