<div class="container">
    <a id="admin-btn" href="/admin/admin" role="ADMIN">
        <image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
            alt="Acceso Administrador"> Admin
    </a>
    <h1>Galería</h1>
    <hr>
    <a class="btn btn-lg" href="/files/upload-cdn">Subir Contenido</a>

    <section class="row">

        {{#each allThePictures}}
        <article class="col-3">
            <div class="card-group">
                <div class="card">
                    <div class="card-body text-center">

                        <h4 class="card-title">{{name}}</h4>
                        <img src="{{path}}" alt="{{name}}" style="width: 100%">

                    </div>
                </div>
            </div>
        </article>

        {{/each}}
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>