<div class="container">
    <h1>Galería</h1>
    {{!-- 
    <div class="glide gallery">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides"> --}}
    <section class="row">

        {{#each allThePictures}}
        <article class="col-3">
            <ul>
                <li>
                    <img src="{{path}}" alt="{{name}}" style="width: 100%">
                </li>
            </ul>
        </article>
        {{/each}}

    </section>
</div>
</div>





</div>