<a id="admin-btn" href="/admin/admin" role="ADMIN">
    <image
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
        alt="Acceso Administrador"> Admin
</a>

<h1>Usuario: {{username}}</h1>
<p>Rol: {{role}}</p>
<p>Contraseña: {{password}}</p>

<a class="btn" href="/admin/profileList">Volver</a>