<section class="container">
    <a id="admin-btn" href="/admin/admin" role="ADMIN">
        <image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
            alt="Acceso Administrador"> Admin
    </a>
    <article class="row justify-content-center">
        <div id="signup-form">
            <form action="/admin/newUser" method="post">
                <h1>Nuevo usuario</h1>
                <p>¡Rellene los campos para crear un nuevo usuario!</p>
                <hr>
                <div class="form-group">
                    <label for="username"></label>
                    <input name="username" type="text" class="form-control" id="username"
                        placeholder="Nombre de ususario">
                </div>
                <div class="form-group">
                    <label for="role"></label>
                    <input name="role" type="text" class="form-control" id="role" placeholder="'ADMIN', 'CLIENT'">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

                <button type="submit" class="btn">Crear usuario</button>
                <a href="/admin/profileList" class="btn">Volver</a>
                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}

            </form>

        </div>
    </article>
</section>