<div class="container">
    <a id="admin-btn" href="/admin/admin" role="ADMIN">
        <image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
            alt="Acceso Administrador"> Admin
    </a>
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h1>Editar "{{theUser.username}}"</h1>

            <form action="/admin/edit?userId={{theUser._id}}" method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input name="username" type="text" class="form-control" id="username" value="{{theUser.username}}">
                </div>
                <div class="form-group">
                    <label for="role">Rol</label>
                    <input name="role" type="text" class="form-control" id="role" value="{{theUser.role}}">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="password"
                        placeholder="Nueva contraseña">
                </div>

                <button type="submit" class="btn">Editar</button>
            </form>
        </div>
    </div>
    <a class="btn" href="/admin/profileList">Volver</a>
</div>