// GENERAL
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  font-weight: 200;
  margin-top: 100px;
}

h1,
h2,
h3 {
  font-weight: 200;
}

#errorMsg {
  color: red;
  font-weight: 400;
  text-align: center;
  padding: 10px auto;
  margin-top: 5px;
}

// COMPONENTS
.btn {
  background-color: #E6091A;
  border-radius: 0;
  color: white;
  border: none;
  margin: 5px;

  &:hover {
    background-color: #FAD4D7;
  }
}

// LAYOUT NAV-BAR
.navbar {
  padding: 0 40px;
  background-color: white;


  .color-ul a {
    color: #79BF24;
    ;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
}

// USER ACCESS
.logged {
  font-size: 0.8em;
  margin: 8px 0 0 30px;

  img {
    width: 18px;
  }

  a {
    text-decoration: none;
  }
}

// ADMIN PAGE ACCESS 
#admin-btn {
  right: 0;
  margin: auto 30px;
  position: fixed;
  text-align: right;
  text-decoration: none;
  color: grey;
  z-index: 999;

  img {
    height: 35px;
  }
}

// INDEX PAGE
#main-page {
  h1 {
    font-family: "Yellowtail",
      sans-serif;
    font-size: 4em;
  }

  p {
    font-size: 1.4em;
  }

  i {
    color: grey;
  }
}

#logo {
  width: 70px;
}

// CARROUSEL
#carousel-bkg {
  margin: 40px auto;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  .carousel {
    margin-top: 20px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  #carouselIndex {
    .carousel-inner {

      img {
        height: 620px;
      }

      h2 {
        color: black;
        text-decoration: transparentize($color: #000000, $amount: 0);
        font-family: "Yellowtail",
          sans-serif;
        font-size: 4em;
        margin-bottom: 50px;


      }

      p {
        font-size: 2em;
        -webkit-text-stroke: 0.1px black;
        text-align: center;
        margin-bottom: 100px;
      }

      .carru {
        text-align: center;
      }
    }
  }
}

// footer {
//   position: absolute;
//   left: 0;
//   right: 0;
//   width: 100%;
// }

// PRODUCTS
#imgProduct {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

label {
  margin-top: 10px;
}

// ADMIN PAGE
#admin-page {
  display: inline-flex;

  li {
    list-style: none;
    margin: 25px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10% 10%;
    display: inline;
    padding-bottom: 10px;

    .btn {
      width: 200px;
    }

    &:hover {
      opacity: 0.6;
    }

    img {
      max-width: 200px;
      padding: 10px;
    }

  }

}

// PROFILE PAGE
#profile-page {
  img {
    width: 200px;
    height: 200px;
  }

  ul {
    list-style: none;

    li {
      margin: 30px;

      h3 {
        color: green;
      }
    }
  }
}

// SIGN UP FORM
#signup-form {
  border: 1px solid lightgrey;
  border-color: lightgrey;
  border-radius: 6px;
  padding: 20px 0 auto;
  width: 400px;
  color: rgb(126, 125, 125);

  form {
    margin: auto;
    padding: 50px;
  }

  input {
    border-radius: 30px
  }
}

#myMap {
  height: 500px;
  width: 1350px;
  margin-left: 20px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #E6091A;
}

#mode-selector {
  color: #fff;
  background-color: #E6091A;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


.footer-copyright {
  background-color: black;
  color: white;
}

.mb-2 {
  font-size: 1.2em;
  padding: 0 10px;
}


// SOONWOO
#avatar {
  width: 300px;
  height: 300px;
}

.card {
  padding: 5px;
  margin: 5px;
}

#product-detail {
  padding: 30px
}
