* {
  font-family: 'Yanone Kaffeesatz', sans-serif; }

body {
  font-weight: 200;
  margin-top: 100px; }

h1,
h2,
h3 {
  font-weight: 200; }

#errorMsg {
  color: red;
  font-weight: 400;
  text-align: center;
  padding: 10px auto;
  margin-top: 5px; }

.btn {
  background-color: #E6091A;
  border-radius: 0;
  color: white;
  border: none;
  margin: 5px; }
  .btn:hover {
    background-color: #FAD4D7; }

.navbar {
  padding: 0 40px;
  background-color: white; }
  .navbar .color-ul a {
    color: #79BF24;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.2em; }

.logged {
  font-size: 0.8em;
  margin: 8px 0 0 30px; }
  .logged img {
    width: 18px; }
  .logged a {
    text-decoration: none; }

#admin-btn {
  right: 0;
  margin: auto 30px;
  position: fixed;
  text-align: right;
  text-decoration: none;
  color: green;
  z-index: 999; }
  #admin-btn img {
    height: 35px; }

#main-page h1 {
  font-family: "Yellowtail", sans-serif;
  font-size: 4em; }

#main-page p {
  font-size: 1.4em; }

#main-page i {
  color: grey; }

#logo {
  width: 70px; }

#carousel-bkg {
  margin: 40px auto;
  opacity: 0.8; }
  #carousel-bkg:hover {
    opacity: 1; }
  #carousel-bkg .carousel {
    margin-top: 20px; }
    #carousel-bkg .carousel img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  #carousel-bkg #carouselIndex .carousel-inner img {
    height: 620px; }
  #carousel-bkg #carouselIndex .carousel-inner h2 {
    color: black;
    text-decoration: black;
    font-family: "Yellowtail", sans-serif;
    font-size: 4em;
    margin-bottom: 50px; }
  #carousel-bkg #carouselIndex .carousel-inner p {
    font-size: 2em;
    -webkit-text-stroke: 0.1px black;
    text-align: center;
    margin-bottom: 100px; }
  #carousel-bkg #carouselIndex .carousel-inner .carru {
    text-align: center; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%; }

#imgProduct {
  width: 150px;
  height: 150px;
  object-fit: cover; }

label {
  margin-top: 10px; }

#admin-page {
  display: inline-flex; }
  #admin-page li {
    list-style: none;
    margin: 25px;
    border: 1px solid #c9c9c9;
    border-radius: 10% 10%;
    display: inline;
    padding-bottom: 10px; }
    #admin-page li .btn {
      width: 200px; }
    #admin-page li:hover {
      opacity: 0.6; }
    #admin-page li img {
      max-width: 200px;
      padding: 10px; }

#profile-page img {
  width: 200px;
  height: 200px; }

#profile-page ul {
  list-style: none; }
  #profile-page ul li {
    margin: 30px; }
    #profile-page ul li h3 {
      color: green; }

#signup-form {
  border: 1px solid lightgrey;
  border-color: lightgrey;
  border-radius: 6px;
  padding: 20px 0 auto;
  width: 400px;
  color: #7e7d7d; }
  #signup-form form {
    margin: auto;
    padding: 50px; }
  #signup-form input {
    border-radius: 30px; }

#myMap {
  height: 500px;
  width: 900px; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px; }

#origin-input:focus,
#destination-input:focus {
  border-color: #E6091A; }

#mode-selector {
  color: #fff;
  background-color: #E6091A;
  margin-left: 12px;
  padding: 5px 11px 0px 11px; }

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

.footer-copyright {
  background-color: #F1F7FC; }

.mb-2 {
  font-size: 1.2em;
  padding: 0 10px; }

/*# sourceMappingURL=style.css.map */