// GENERAL
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
  background-color: #E6091A;
  border-radius: 0;
  color: white;
  border: none;
  margin: 5px;

  &:hover {
    background-color: #FAD4D7;
  }
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

body {
  font-weight: 200;
  margin-top: 100px;

}

h1,
h2,
h3 {
  font-weight: 200;
}

// LAYOUT NAV-BAR
.navbar {
  padding: 0 40px;
  background-color: white;


  .color-ul a {
    color: #79BF24;;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
}

.logged {
  font-size: 0.8em;
  margin: 8px 0 0 30px;

  img {
    width: 18px;
  }

  a {
    text-decoration: none;
  }
}

// INDEX PAGE
#main-page {
  h1 {
    font-family: "Yellowtail",
      sans-serif;
    font-size: 4em;
  }

  p {
    font-size: 1.4em;
  }
}

#logo {
  width: 70px;
}

#carousel-bkg {
  margin: 0 auto 40px;

  #carouselIndex {
    .carousel-inner {

      img {
        height: 620px;
      }

      h2{
        color:black;
        text-decoration: transparentize($color: #000000, $amount: 0);
        font-family: "Yellowtail",
        sans-serif;
        font-size: 4em;
        margin-bottom: 50px;

      
      }

      p {
        font-size: 2em;
        -webkit-text-stroke: 0.1px black;
        text-align: center;
        margin-bottom: 100px;
      }
      .carru {
        text-align: center;
      }
    }
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

// PRODUCTS
#imgProduct {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

label {
  margin-top: 10px;
}

.carousel {

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.footer-copyright{
  background-color: #F1F7FC;
}

.mb-2 {
  font-size: 1.2em;
  padding: 0 10px;
}


#myMap {
  height: 500px;
  width: 900px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}
#origin-input:focus,
#destination-input:focus {
  border-color: #E6091A;
}
#mode-selector {
  color: #fff;
  background-color: #E6091A;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}
#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
