<p>{{name}}</p>
<p>{{description}}</p>
<p>{{price}} &euro;</p>
<img id="imgProduct" src="{{img}}" atl="image">
<a href="/admin/productList" class="btn">Volver</a>
<a href="/admin/admin" class="btn">Volver a Principal</a>