<h3>Crea un nuevo producto</h3>

<form method="POST" action="/admin/newProduct">
    <ul>
        <li>
            <input type="text" name="category" placeholder="category">
        </li>
        <li>
            <input type="text" name="type" placeholder="type">
        </li>
        <li>
            <input type="text" name="name" placeholder="name">
        </li>
        <li>
            <input type="text" name="description" placeholder="description">
        </li>
        <li>
            <input type="text" name="price" placeholder="price">
        </li>
        <li>
            <input type="text" name="img" placeholder="image">
        </li>
    </ul>


    <input class="btn" type="submit" name="" id="submit">
</form>
<a class="btn" href="/admin/admin">Volver</a>