<a id="admin-btn" href="/admin/admin" role="ADMIN">
    <image
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
        alt="Acceso Administrador"> Admin
</a>

{{>productDetails}}
<a href="/admin/productList" class="btn">Volver</a>
<a href="/admin/admin" class="btn">Volver a Principal</a>