<section class="container" id="profile-page">
    <hr>
    <article class="row">

        <div class="col-6" id="signup-form">
            {{>productDetails}}

        </div>
    </article>
    <a href="/products/list" class="btn">Volver</a>
    <a href="/" class="btn">Volver a Principal</a>
</section>