<div class="container">
    <h1>Listado de productos</h1>
    <div class="row">
        {{#each allProducts}}
        <div class="col-md-3 col-sm-6">
            {{>productList}}
        </div>
        {{/each}}
    </div>
</div>